<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
                <!-- Le styles -->
        <link href="{{ asset('bundles/fabfotogallery/bootstrap/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/fabfotogallery/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
        {%block importcss %}{%endblock importcss %}
        <script src="{{ asset('bundles/fabfotogallery/jquery/jquery-1.7.2.js')}}"></script>

        <script src="{{ asset('bundles/fabfotogallery/bootstrap/js/bootstrap-tooltip.js')}}"></script>
        <script src="{{ asset('bundles/fabfotogallery/bootstrap/js/bootstrap-alert.js')}}"></script>
        <script>
            $(".alert").alert();
        </script>

    </head>
    <body>
        <div class="hero-unit">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
