{%block header %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block titlepage %}Fabbook User Admin {% endblock titlepage %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block importcss %}
        {% endblock importcss %}
        <link rel="stylesheet" href="{{ asset('bundles/fabfotouser/css/AdminUser.css')}}"/>
        <link rel="stylesheet" href="{{asset('bundles/fabfotogallery/css/smoothness/jquery-ui-1.8.16.custom.css')}}" />

        <script type="text/javascript" src="{{ asset('bundles/fabfotogallery/jquery/jquery-1.7.1.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fabfotogallery/js/jquery-ui-1.8.16.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fabfotogallery/tiny_mce/jquery.tinymce.js') }}"></script>
        {% if form is defined %}
        {{ form_javascript(form) }}
        {% endif %}
        {%block importjs%}
        {%endblock importjs%}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    {% endblock header %}
    <body>
        <div data-role="page" {% block optionpage %}{% endblock optionpage %} data-theme="c" >
             <div id="header" >
                 <a href="{{path('show_articles')}}"><h1>{% block title %}Fabbook{%endblock title%}</h1></a>
                {{ knp_menu_render('FabfotoUserBundle:Builder:userMenu') }}
            </div>
            <div class="main_content" >
                <div id="body_content">
                    {% block content %}
                    Welcome on Fabfoto Mobile
                    {% endblock %}
                </div>
            </div>
            <div data-role="footer" >
                <div data-role="navbar" data-position="fixed" data-fullscreen="true">

                </div><!-- /navbar -->
            </div>
        </div>
    </body>
</html>
