<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% block metainfo %}{% endblock metainfo %}
        <title> {% block title %}Fabbook Login{%endblock title%}</title>

        <!-- Le styles -->
        <link href="{{ asset('bundles/fabfotogallery/bootstrap/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/fabfotogallery/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
        {%block importcss %}{%endblock importcss %}
        <script src="{{ asset('bundles/fabfotogallery/jquery/jquery-1.7.2.js')}}"></script>

        <script src="{{ asset('bundles/fabfotogallery/bootstrap/js/bootstrap-tooltip.js')}}"></script>
        <script src="{{ asset('bundles/fabfotogallery/bootstrap/js/bootstrap-alert.js')}}"></script>
        <script>
            $(".alert").alert();
        </script>

        {%block importjs %}
        {%endblock importjs%}
    </head>
    <body>

        <div class="container">
            {% for type, flashMessages in app.session.flashbag.all() %}
            <div id="alert">
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-block alert-{{ type }} fade in">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="wrap">
                        {{ flashMessage }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% block body %}lipso lium{%endblock%}


        </div>

    </body>
</html>
