<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Super Admin Fabbook{% endblock %}</title>
        {% stylesheets 
            '@AdmingeneratorActiveAdminThemeBundle/Resources/public/css/all.css'
            '@FabfotoGalleryBundle/Resources/public/chosen/chosen.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
        {% javascripts
        '@FabfotoGalleryBundle/Resources/public/jquery/jquery-1.7.2.min.js'
        '@FabfotoGalleryBundle/Resources/public/chosen/chosen.jquery.js'
        '@FabfotoGalleryBundle/Resources/public/js/jquery-ui-1.8.16.custom.min.js'
        '@FabfotoGalleryBundle/Resources/public/tiny_mce/jquery.tinymce.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            {% if form is defined %}
                {{ form_javascript(form) }}
            {% endif %}

        <link rel="icon" type="image/png" href="{{ asset('bundles/fabfotogallery/image/icon/iconemain.png')}}">
    </head>
    <body class="logged_in index">
        <div id="wrapper">
            <div id="header">
                {% block header %}
                    {% block logo %}
                    <h1 id="site_title">
                        <a href="{{path('show_articles')}}">
                        Fabbook
                        </a>
                    </h1>
                    {% endblock %}
                    {% block profile %}
                    <div class="profile">
                        <ul>
                            <li>
                                <a href="{{path('Fabfoto_AdminBundle_News_list')}}">Welcome</a>
                            </li>
                            <li>
                                <a class='logout' href="{{path('fos_user_security_logout')}}">Log out will be connect to security</a>
                            </li>
                        </ul>
                    </div>
                    {% endblock %}
                    {% block menu %}
                         {{ knp_menu_render('admin') }}
                    {% endblock %}
                {% endblock %}
            </div>
            <div id="content">
                {% block flashes %}
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="notification_box {{ type }}">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% endblock %}

                <div id="body_content">
                {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
