{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block content %}

<h1>Contact</h1>

<form action="{{ path('contact_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary btn-large center" type="submit">Envoyer</button>
    </div>
</form>
{{ form_javascript(form) }}
{{ form_stylesheet(form) }}
{% endblock content %}
