{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %}Fabbook-Contact{% endblock title %}
{% block content %}
{% form_theme form 'FabfotoGalleryBundle:Form:fieldBootstrap.html.twig' %}
<div class="jumbotron masthead">
<div class="container">
    <h1>{% trans %}contact.title{% endtrans %}</h1>
    <p>{% trans %}contact.details{% endtrans %}</p>
  </div>
</div>
<hr>
<div class="container">
<div class="span8">
    <form action="{{ path('contact_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }} >
    {{form_row(form.sender)}}
    {{form_row(form.subject)}}
    {{form_row(form.content)}}
    {{form_row(form.captcha)}}

            {{ form_rest(form) }}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary btn-large center" type="submit">Envoyer</button>
                </div>
            </div>
    </form>
</div>
</div>
{{ form_javascript(form) }}
{{ form_stylesheet(form) }}
</div>
{% endblock content %}
