{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block classPage %}{% endblock classPage %}
{% block stylePage %}{% endblock stylePage %}
{% block title %}Fabbook Home{% endblock title %}
{% block content %}
<div class="jumbotron masthead">
<div class="container">
    <h1>{% trans %}fabbook.title{% endtrans %}</h1>
    <p>{% trans %}fabbook.subtitle{% endtrans %}</p>
  </div>
</div>
<hr>
<div class="container">
<div class="list_articles">
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}last.article{% endtrans %}</small></h1>
    </div>
    <div  class="row">

        <div class="span12 columns">
            {% render 'FabfotoGalleryBundle:Default:lastContent' %}
        </div>
    </div>
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}from.fabbook{% endtrans %}</small></h1>
    </div>

    {% for article in articles %}
    <div  class="row">
        <div class="span8">
            <h3>{{article.title}}</h3>
	    <h4>{{article.subtitle}}</h4>
            <p>{{article.content|raw}}</p>
            <span class="badge badge-info">{{article.createdAt|date('F jS, Y')}}</span>
        </div>
    </div>
    <hr>
    {% endfor %}
 	 <div class="span12 center">
        {{ pagerfanta(articles, 'twitter_bootstrap_translated') }}
    	</div>
    </div>
</div>
<hr>
<div class="container">
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}from.tweeter{% endtrans %}</small></h1>
    </div>
    <div  class="row">
        <div class="span12 columns">
            {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'FabbookFr'} , {'standalone': true}%}
        </div>
    </div>
</div>
{% endblock content %}
{% block rss %}
{{path('rss_news')}}
{%endblock rss%}
