{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %}Fabbook Home{% endblock title %}
{% block content %}
<div class="list_articles">
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}last.article{% endtrans %}</small></h1>
    </div>
    <div  class="row">

        <div class="span12 columns">
            {% render 'FabfotoGalleryBundle:Default:lastContent' %}
        </div>
    </div>
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}from.fabbook{% endtrans %}</small></h1>
    </div>
    <div  class="row">

        {% for article in articles %}
        <div class="span3 well-small">
            <h3>{{article.title}}</h3>
            <h4>{{article.subtitle}}</h4>
            <h6>{% trans %}the{% endtrans %} {{article.createdAt|date('d/m/Y')}}</h6>

            <p>{{article.content|raw}}</p>
            {% if article.author is not null %}
            <h3 class="author"><a href="{{ path('show_about', { 'slug': article.author.slug }) }}">{{article.author}}</a></h3>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="page-header">
        <h1>{% trans %}news{% endtrans %} <small>{% trans %}from.tweeter{% endtrans %}</small></h1>
    </div>
    <div  class="row">

        <div class="span12 columns">
            {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'FabbookFr'} %}
        </div>
    </div>
    <div class="span12 center">
        {{ pagerfanta(articles, 'twitter_bootstrap_translated') }}
    </div>
</div>
{% endblock content %}
{% block rss %}
<a  href="{{path('rss_news')}}"><img alt="rss_image" id="rss" src="{{ asset('bundles/fabfotogallery/image/icon/rss-icon.png')}}" /></a>
{%endblock rss%}
