{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %}Fabbook-Blog{% endblock title %}
{% block content %}

<div class="page-header">
    <h1>Blog <small>{% trans %}about.it{% endtrans %}</small></h1>
</div>
{% render 'FabfotoGalleryBundle:Default:lastContent' with { noAlbum : true }%}

{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
<div class="center">
    {{ pagerfanta(ArticlesBlogs, 'twitter_bootstrap_translated') }}
</div>
{% endblock content %}
{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('index_blog_mobile') }}" data-content='<img alt="[QR Code]" src="{{ mopa_barcode_url("qr", url("index_blog_mobile") ) }}"/>' data-original-title="{% trans %}mobile{% endtrans %}">
    <div class="visible-desktop"><i class="icon-qrcode icon-black"></i></div>
    <div class="hidden-desktop"><i class="icon-qrcode icon-black"></i> {% trans %}mobile{% endtrans %}</div>
</a>
{%endblock qrLink %}
{% block rss %}
<a  href="{{path('rss_blog')}}"><img alt="rss_image" id="rss" src="{{ asset('bundles/fabfotogallery/image/icon/rss-icon.png')}}" /></a>
{%endblock rss%}
