{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block titlepage %}Fabfoto-News{% endblock titlepage %}
{% block content %}
<div class="list_articles">
    <div class="page-header">
        <h1>News <small>from fabbook</small></h1>
    </div>
    <div  class="row">

        {% for article in articles %}
        <div class="span2">
            <h3>{{article.title}}</h3>
            <h4>{{article.subtitle}}</h4>
            <h6>le {{article.createdAt|date('d/m/Y')}}</h6>

            <p>{{article.content|raw}}</p>
            {% if article.author is not null %}
            <h3 class="author"><a target="_blanck" href="{{ path('show_user', { 'slug': article.authorSlug }) }}">{{article.author}}</a></h3>
            {% endif %}
        </div> 
        {% endfor %}
    </div>

    <div class="page-header">
        <h1>News <small>from tweeter</small></h1>
    </div>
    {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'FabbookFr'} %}
</div>
{% endblock content %}
