{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block titlepage %}Fabfoto-Blog{% endblock titlepage %}
{% block content %}

<div class="page-header">
    <h1>Blog <small>{% trans %}about.it{% endtrans %}</small></h1>
</div>

<div id="NewsCarousel" class="carousel slide">

    <div class="carousel-inner">
        {% for blog in lastBlogs %}
        <div class="{% if loop.first %}active {% endif %}item center">
            {% if blog.cover is not null %}
            <img src="{{blog.cover.webpath| apply_filter('cover') }}" width="100%" alt="{{blog.cover}}" /> 
            {% endif %}
            {% if blog.cover is null %}
            <img src="{{asset('bundles/fabfotogallery/image/newIsmage.png')}}" />
            {% endif %}

            <div class="carousel-caption">
                <a href="{{path('show_article_blog', {'slugblog': blog.slugblog})}}">    
                    <h4>{{blog.title}}</h4>
                    <p>{{blog.subtitle}}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#NewsCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#NewsCarousel" data-slide="next">›</a>
</div>
{% include "FabfotoGalleryBundle:Default:ListArticleBlog.html.twig" %}
<div class="center">
    {{ pagerfanta(ArticlesBlogs, 'twitter_bootstrap_translated') }}
</div>
{% endblock content %}
{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('index_blog_mobile') }}" data-content='<img alt="[QR Code]" src="/{{ mopa_barcode_url("qr", url("index_blog_mobile") ) }}"/>' data-original-title="{% trans %}mobile{% endtrans %}">
    <div class="visible-desktop"><i class="icon-qrcode icon-white"></i></div>
    <div class="hidden-desktop"><i class="icon-qrcode icon-white"></i> {% trans %}mobile{% endtrans %}</div>
</a>
{%endblock qrLink %}
{% block rss %}  
<a  href="{{path('rss_blog')}}"><img id="rss" src="{{ asset('bundles/fabfotogallery/image/icon/rss-icon.png')}}" /></a>
{%endblock rss%}