{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block content %}
<div class="list_album">
    {% for album in albums%}
    <a href="{{path('show_album', {'slug':album.slug})}}" >
        <div class="album_sum_up" style="background: url(/{{album.picturecover.webpath}})" >
      <h1 class="album_title">{{album.name}}</h1>
            <p class="album_comment">{{album.comment}}</p>
        </div>
    </a>

    {% endfor %}
</div>
{% endblock content %}
{%block qrLink %}
<a href="{{path('albums_mobile') }}">
    <img alt="[QR Code]" src="/{{ mopa_barcode_url('qr', url('albums_mobile') ) }}"/>
    Mobile
</a>
{%endblock qrLink %}
{% block carroussel %}
{% render 'FabfotoGalleryBundle:Default:allBackground' with {'max': 10} %}
{% endblock carroussel %}
