{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block titlepage %}Fabfoto-News{% endblock titlepage %}
{% block content %}
<div class="list_articles">
    <div class="ribbonArticle">
        <h1>un peu de tweet ...</h1>
    </div>
    {% render "KnpLastTweetsBundle:Twitter:lastTweets" with {'username': 'FabbookFr'} %}
    <div class="ribbonArticle">
        <h1>un peu de nouvelles ...</h1>
    </div>
    {% for article in articles %}

    <div class="article">
        <div class="title_news">
            <span class="title_label">{{article.title}}</span>
            <span class="createdAt">le {{article.createdAt|date('d/m/Y')}}</span>
        </div>
        <h2>{{article.subtitle}}</h2>
        <p>{{article.content|raw}}</p>
        <h3 class="author">{{article.author}}</h3>

    </div>
    {% endfor %}
</div>
{% endblock content %}
