

<div  class="row">
    {% for article in ArticlesBlogs %}
    <div class="span3  well">

        <h3>{{article.title}}</h3>
        <h4>{{article.subtitle}}</h4>
            {% if article.author is not null %}
    	<h6><a target="_blanck" href="{{ path('show_user', { 'slug': article.authorSlug }) }}">{{article.author}}</a></h6>
            {% endif %}
        <h6>Le {{article.createdAt|date('d/m/Y')}}</h6>
        <p>Tags : 
        {% for tag in article.tags %}
        <a href="{{path('show_articles_blog_by_tags', {'tag_slug':tag.slug})}} "> <span class="label label-info">{{tag}}</span></a> 
        {% endfor %}
        </p>
        <a class="btn" href="{{path('show_article_blog', {'slugblog':article.slugblog})}}">Read More</a>

    </div>
    {% endfor %}

</div>
