<div class="list_articles_blog">
    {% for article in ArticlesBlogs %}
    <div class="article_blog">
        <a href="{{path('show_article_blog', {'slugblog':article.slugblog})}}" >
        <h1>{{article.title}}</h1>
        <h2>{{article.subtitle}}</h2>
        </a>
        <span class="extra_info_blog">Par {{article.author}} - {{article.createdAt|date('d/m/Y')}}</span>
        <div class="tag">
        Tags : 
        {% for tag in article.tags %}
        <a href="{{path('show_articles_blog_by_tags', {'tag_slug':tag.slug})}} "> {{tag}}</a> 
        {% endfor %}
        </div>
        <div class="more">
            <a href="{{path('show_article_blog', {'slugblog':article.slugblog})}}" >Plus</a>
        </div>
    </div>
    {% endfor %}
</div>