{% for album in albums%}
<a href="{{path('show_album', {'slug':album.slug})}}" >
    {% if album.isCategorySlug(slugNoteCategory) %}
    <div class="album_sum_up noteBook">
    {% else %}
    <div class="album_sum_up">
    {% endif %}
        <img alt="{{album.name}}" src="{{ album.picturecover.webpath | apply_filter('cover') }}" />
        <div class="album_description">
            <h1 class="album_title">{{album.name}}</h1>
            <p class="album_comment">{{album.comment}}</p>
        </div>
    </div>
</a>

{% endfor %}
