<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/" >
    <channel>
        <title>Fabfoto</title> 
        <link>{{url('show_articles')}}</link> 
        <description>Blog du site fabbook</description> 
        <language>fr</language> 
        <copyright>Fabfoto</copyright>
        {%for article in articles%}
        <item>
            <title>{{article.title|raw}}</title> 
            <link>{{url('show_article_blog', {'slugblog':article.slugblog})}}</link> 
            <description>{{article.subtitle|raw}}</description>
            <content:encoded><![CDATA[ {{article.content|raw}} ]]></content:encoded>
            <pubDate>{{article.createdAt|date(constant('DATE_RFC822')) }}</pubDate>
        </item>
        {%endfor%}
    </channel>
</rss>
