{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block importjs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox-thumbs').fancybox({
                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : true,
                arrows    : true,
                nextClick : true,

                helpers : {
                        thumbs : {
                                width  : 50,
                                height : 50
                        }
                }
        });    
});
</script>
{% endblock importjs %}
{%block importcss %}
{% stylesheets
        '@FBKJsLibBundle/Resources/public/fancybox/*.css'
        '@FBKJsLibBundle/Resources/public/fancybox/helpers/*.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock importcss %}
{% block title %}{{album}}{%endblock title%}
{% block content %}
<div class="page-header">
    <h1>{{album}} <small>{{album.comment}}</small></h1>
</div>
    <a class="helper" href="{{path('zip_album',{ 'slug': album.slug })}}" rel="tooltip" data-original-title="Download Album" ><img alt="download" id="download" src="{{ asset('bundles/fabfotogallery/image/icon/download.png') | apply_filter('icon_small')}}" /></a>

</a>
{% include 'FabfotoGalleryBundle:Default:ListPicture.html.twig' with pictures %}
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': album.slug} %}
{% endblock content %}

{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('albums_mobile') }}" data-content='<img alt="[QR Code]" src="{{ mopa_barcode_url("qr", url("albums_mobile") ) }}"/>' data-original-title="{% trans %}mobile{% endtrans %}">
    <div class="visible-desktop"><i class="icon-qrcode icon-black"></i></div>
    <div class="hidden-desktop"><i class="icon-qrcode icon-black"></i> {% trans %}mobile{% endtrans %}</div>
</a>
{%endblock qrLink %}

{% block carroussel %}
{% include 'FabfotoGalleryBundle:Default:BackgroundVegas.html.twig' %}
{% endblock carroussel %}
{% block rss %}
{{path('rss_album')}}
{%endblock rss%}
