{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block importjs %}

<script type="text/javascript" src="{{ asset('bundles/fabfotogallery/turnjs/turn.min.js') }}"></script>
<style type="text/css">


</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('#magazine').turn({
                display: 'single',
                acceleration: true,
                gradients: !$.isTouch,
                elevation:50,
                when: {
                        turned: function(e, page) {
                                /*console.log('Current view: ', $(this).turn('view'));*/
                        }
                }
        });
	});


	$(window).bind('keydown', function(e){

		if (e.keyCode==37)
			$('#magazine').turn('previous');
		else if (e.keyCode==39)
			$('#magazine').turn('next');

	});

</script>
{% endblock importjs %}
{% block title %}{{album}}{%endblock title%}
{% block content %}
<div class="page-header">
    <h1>{{album}} <small>{{album.comment}}</small></h1>
</div>
<a class="helper" href="{{path('zip_album',{ 'slug': album.slug })}}" rel="tooltip" data-original-title="Download Album" ><img alt="download" id="download" src="{{ asset('bundles/fabfotogallery/image/icon/download.png') | apply_filter('icon_small') }}" /></a>

<div id="magazine">
        {% for picture in pictures%}
        <div style="background-image:url({{picture.webpath | apply_filter('page')}});"></div>
        {% endfor %}
</div>

{% endblock content %}

{%block qrLink %}
{{ helper.linkNavBarQrLink(path('albums_mobile'), 'mobile') }}
{%endblock qrLink %}

{% block rss %}
{{path('rss_album')}}
{%endblock rss%}
{% block stylePage %}"bookPage"{% endblock stylePage%}
