{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %} {{article.title}} {% endblock title %}
{% block content %}
    <div class="article_blog_full">
        <div class="tag">
        Tags : 
        {% for tag in article.tags %}
        <a href="{{path('show_articles_blog_by_tags', {'tag_slug':tag.slug})}} "> {{tag}}</a> 
        {% endfor %}
        </div>
        <h1>{{article.title}}</h1>
        <h2>{{article.subtitle}}</h2>
        <div class="blog_content">
        {{article.content|raw}}
        </div>
        <div class="signature_blog">Par {{article.author}} - {{article.createdAt|date('d/m/Y')}} - Mise à jour : {{article.updatedAt|date('d/m/Y') }}</div>
        <div class="pdf"><a href="{{path('show_article_blog_pdf', {'slugblog':article.slugblog})}}">pdf</a> </div>
    </div>
{% endblock content %}

{% block metainfo %}
<meta name="Keywords" CONTENT="{% for tag in article.tags %} {{ tag }},{% endfor %}" />
<meta name="Description" CONTENT="{{ article.subtitle }}" />
{% endblock metainfo %}
{%block qrLink %}
                    <a href="{{path('show_article_blog_mobile', { 'slugblog': article.slugblog }) }}">
<img alt="[QR Code]" src="/{{ mopa_barcode_url('qr', url('show_article_blog_mobile', { 'slugblog': article.slugblog }) ) }}"/>
                    Mobile
                    </a>
{%endblock qrLink %}