{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% import 'FabfotoGalleryBundle:Macro:link.html.twig' as helper %}
{% block importjs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox-thumbs').fancybox({
                prevEffect : 'none',
                nextEffect : 'none',

                closeBtn  : true,
                arrows    : true,
                nextClick : true,

                helpers : {
                        thumbs : {
                                width  : 50,
                                height : 50
                        }
                }
        });    
});
</script>
{% endblock importjs %}
{%block importcss %}
{% stylesheets
        '@FBKJsLibBundle/Resources/public/fancybox/*.css'
        '@FBKJsLibBundle/Resources/public/fancybox/helpers/*.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock importcss %}
{% block title %}{{album}} {{album.comment}} - Album{% endblock title %}
{% block content %}
<div id="page" class="container">
<div class="page-header">
    <h1>{{album}} <small>{{album.comment}}</small></h1>
</div>

{% include 'FabfotoGalleryBundle:Default:ListPicture.html.twig' with pictures %}
    <a class="helper offset11" href="{{path('zip_album',{ 'slug': album.slug })}}" rel="tooltip" data-original-title="Download Album" >
<img alt="download" src="{{ asset('bundles/fabfotogallery/image/icon/download.png') | apply_filter('icon')}}" />
</a>
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': album.slug} %}
</div>
{% endblock content %}

{% block metainfo %}
<meta name="Description" CONTENT="{{ album }} {{album.comment}}" />
{% endblock metainfo %}
{%block qrLink %}
{{ helper.linkNavBarQrLink(url('albums_mobile'), 'mobile') }}
{%endblock qrLink %}

{% block carroussel %}
{% include 'FabfotoGalleryBundle:Default:BackgroundVegas.html.twig' %}
{% endblock carroussel %}
{% block rss %}
{{path('rss_album')}}
{%endblock rss%}
