{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block importjs %}

<script type="text/javascript" src="{{ asset('bundles/fabfotogallery/turnjs/turn.min.js') }}"></script>
<style type="text/css">


</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('#magazine').turn({
                display: 'single',
                acceleration: true,
                gradients: !$.isTouch,
                elevation:50,
                when: {
                        turned: function(e, page) {
                                /*console.log('Current view: ', $(this).turn('view'));*/
                        }
                }
        });
	});


	$(window).bind('keydown', function(e){

		if (e.keyCode==37)
			$('#magazine').turn('previous');
		else if (e.keyCode==39)
			$('#magazine').turn('next');

	});

</script>
{% endblock importjs %}
{% block title %}{{album}}{%endblock title%}
{% block content %}
<div class="page-header">
    <h1>{{album}} <small>{{album.comment}}</small></h1>
</div>
<div id="magazine">
        {% for picture in pictures%}
        <div style="background-image:url({{picture.webpath | imagine_filter('page')}});"></div>
        {% endfor %}
</div>

{% endblock content %}

{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('albums_mobile') }}" data-content='<img alt="[QR Code]" src="/{{ mopa_barcode_url("qr", url("albums_mobile") ) }}"/>' data-original-title="{% trans %}mobile{% endtrans %}">
    <div class="visible-desktop"><i class="icon-qrcode icon-black"></i></div>
    <div class="hidden-desktop"><i class="icon-qrcode icon-black"></i> {% trans %}mobile{% endtrans %}</div>
</a>
{%endblock qrLink %}

{% block rss %}
<a  href="{{path('rss_album')}}"><img id="rss" src="{{ asset('bundles/fabfotogallery/image/icon/rss-icon.png')}}" /></a>
{%endblock rss%}
{% block stylePage %}"bookPage"{% endblock stylePage%}
