{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{%block importcss %}
<link rel="stylesheet" media="all" href="{{ asset('bundles/fabfotogallery/css/jquery.lightbox-0.5.css')}}" />
<link rel="stylesheet" media="all" href="{{ asset('bundles/fabfotogallery/css/lightboxconfig.css')}}" />
{%endblock importcss %}
{%block importjs %}
<script src="{{ asset('bundles/fabfotogallery/js/jquery.min.js')}}"></script>
<script src="{{ asset('bundles/fabfotogallery/js/slides.jquery.js')}}"></script>
<script src="{{ asset('bundles/fabfotogallery/js/jquery.lightbox-0.5.js')}}"></script>
<script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
</script>
{%endblock importjs%}
{% block content %}
<h1>{{album}}</h1>
<h2>{{album.comment}}</h2>
<div id="gallery">
    <ul>
        {% for picture in pictures%}
        <li>
            <a href="/{{picture.webpath}}" title="{{picture}}">
                <img src="/{{picture.thumbpath}}" width="128" height="128" alt="{{picture}}" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}

{% block carroussel %}
{% for background in backgrounds%}
<div>
    <img  src="/{{background.webpath}}"/>
</div>
{% endfor %}
{% endblock carroussel %}