{% extends 'FabfotoGalleryBundle::layout.html.twig'%}
{% block title %} {{article.title}} {% endblock title %}
{% block content %}
<div class="page-header">
    <h1>{{article.title}} <small> {{article.subtitle}}</small></h1>
</div>

<div  class="row">

    <div class="span12 columns">
        {% if article.cover is not null %}
        <a href="#" class="thumbnail">
                <img src="{{article.cover.webpath| apply_filter('cover') }}" width="100%" alt="{{article.cover}}" />
        </a>
        {% endif %}
    </div>
</div>

<div class="article_blog_full">
    <div class="tag">
        <i class="icon-tags icon-black"></i>  :
        {% for tag in article.tags %}
        <a href="{{path('show_articles_blog_by_tags', {'slug':tag.slug})}} "> <span class="label label-info">{{tag}}</span></a>
        {% endfor %}
    </div>
    <div class="blog_content">
        {{article.content|raw}}
    </div>
    <div class="signature_blog">{% if article.authorUser is not null %}{% trans %}by{% endtrans %} <a target="_blanck" href="{{ path('show_about', { 'slug': article.authorUser.slug }) }}">{{article.authorUser}}</a> - {% endif %}{{article.createdAt|date('d/m/Y')}} - Mise à jour : {{article.updatedAt|date('d/m/Y') }}</div>
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': article.id} %}
</div>
{% endblock content %}

{% block metainfo %}
<meta name="Keywords" CONTENT="{% for tag in article.tags %} {{ tag }},{% endfor %}" />
<meta name="Description" CONTENT="{{ article.subtitle }}" />
{% endblock metainfo %}

{%block qrLink %}
<a id="qrlink" rel="popover" href="{{path('show_article_blog_mobile', { 'slugblog': article.slugblog }) }}" data-content='<img alt="[QR Code]" src="{{ mopa_barcode_url("qr", url("show_article_blog_mobile", { "slugblog": article.slugblog }) ) }}"/>' data-original-title="{% trans %}mobile{% endtrans %}">
    <div class="visible-desktop"><i class="icon-qrcode icon-black"></i></div>
    <div class="hidden-desktop"><i class="icon-qrcode icon-black"></i> {% trans %}mobile{% endtrans %}</div>
</a>
{%endblock qrLink %}
{% block rss %}
{{path('rss_blog')}}
{%endblock rss%}
