{% extends 'FabfotoGalleryBundle::layoutAdmin.html.twig'%}
{% block content %}
<h1>Article list</h1>

    <ul data-role="listview" data-filter="true" data-inset="true">
    {% for entity in entities %}
    <li><a href="{{ path('article_show', { 'id': entity.id }) }}">
            <h3>{{ entity.title }}</h3>
            <p><strong>{{ entity.subtitle }}</strong></p>
            <p>{{ entity.content }}</p>
            {% if entity.createdAt %}<p class="ui-li-aside"><strong>{{ entity.createdAt|date('Y-m-d H:i:s') }}</strong></p>{% endif%}
          </a>
    </li>
    {% endfor %}
    </ul>


        <a href="{{ path('article_new') }}" data-role="button">
            Create a new entry
        </a>

{% endblock content %}
