{% extends 'FabfotoUserBundle::layoutUser.html.twig'%}
{% block content %}
<h1>ArticleBlog</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Subtitle</th>
            <td>{{ entity.subtitle }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ entity.content|raw }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ entity.authorUser }}</td>
        </tr>
    </tbody>
</table>

<ul class="actions">
    <li>
        <a href="{{ path('writter_blog') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('writter_blog_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('writter_blog_delete', { 'id': entity.id }) }}" >
            Delete
        </a>
    </li>
</ul>
{% endblock content %}
