<!DOCTYPE html>
<html>
    <head Access-Control-Allow-Origin="*" >
        <title>{% block title %}When is my train ? {% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/gmap/GMaps.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/vendor/json2.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/vendor/date.format.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/vendor/underscore.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/backbone.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/vendor/backbone-relational.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/vendor/backbone-localstorage.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/model/station.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/model/infoStation.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/views/InfoStationsView.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/views/MenuView.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/controllers/document.js')}}"></script>
        <script src="{{ asset('bundles/fabfototraintiming/js/backbone/application.js')}}"></script>
        <script src="{{ asset('bundles/fabfotogallery/bootstrap/js/bootstrap.min.js')}}"></script>
         {% stylesheets
            '@FabfotoGalleryBundle/Resources/public/bootstrap/css/bootstrap-responsive.css'
            '@FabfotoGalleryBundle/Resources/public/bootstrap/css/bootstrap.css'
            
        %}
                <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fabfototraintiming/css/main.css')}}" />

    </head>


    <body>
            {% block content %}lipso lium{%endblock%}
    </body>
</html>
