{% extends 'FabfotoShoppingListBundle::layoutMobile.html.twig'%}
{% block content %}
<h1>Item edit</h1>

<form action="{{ path('item_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
      <input type="hidden" id="ItemRemoteId" name="ItemRemoteId" value="{{entity.remoteid}}">
    {{ form_widget(edit_form) }}

<button type="submit" data-role="button" data-inline="true">Edit</button>
<a id="saveLocalyButton" data-role="button" onclick="editItem()" data-inline="true">Save localy</a>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('item') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('item_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock content %}