{% extends 'FabfotoShoppingListBundle::layoutMobile.html.twig'%}
{% block content %}
<h1>Item creation</h1>

<form action="{{ path('item_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
<a href="{{ path('item') }}" id="saveLocalyButton" data-role="button" onclick="saveItem()" data-inline="true">Save localy</a>
<a href="{{ path('item') }}" data-role="button" data-icon="back" data-inline="true"> Back to the list </a>
</form>        

{% endblock content %}
