{% macro linkNavBar(image, url, title ) %}
 <a href="{{ url }}" rel="tooltip" title="{{ title | trans }}" class="helper" >
    <div class="visible-desktop">
        <i class="{{image}} icon-black"></i>
    </div>
    <div class="hidden-desktop">
        <i class="{{image}} icon-black"></i> 
        {{ title | trans }}
    </div>
</a>
{% endmacro %}

{% macro link(title, link, image) %}
{% if link is not empty %}
<div class="span1" >
    <a class='helper' title="{{title | trans }}" target="_blanck" href="{{link}}">
    <img src="{{ image | apply_filter('icon')}}"/>
    </a>
</div>
{% endif %}
{% endmacro %}

{% macro linkNavBarQrLink(url, title ) %}
<a id="qrlink" rel="popover" href="{{ url }}" data-content='<img alt="[QR Code]" src="{{ mopa_barcode_url("qr", url ) }}"/>' data-original-title="{{ title | trans }}" >
<div class="visible-desktop"><i class="icon-qrcode icon-black"></i></div>
<div class="hidden-desktop"><i class="icon-qrcode icon-black"></i>{{title | trans}}</div>
</a>
{% endmacro %}
