{% extends 'FabfotoGalleryBundle::layoutAdmin.html.twig'%}
{% block content %}
<h1>Author</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Googlelink</th>
            <td>{{ entity.googleLink }}</td>
        </tr>
        <tr>
            <th>Facebooklink</th>
            <td>{{ entity.facebookLink }}</td>
        </tr>
        <tr>
            <th>Githublink</th>
            <td>{{ entity.gitHubLink }}</td>
        </tr>
        <tr>
            <th>Linkedlink</th>
            <td>{{ entity.linkedLink }}</td>
        </tr>
        <tr>
            <th>Twitterlink</th>
            <td>{{ entity.twitterLink }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ entity.mail }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_author') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_author_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_author_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock content %}