{% extends 'FabfotoGalleryBundle::layoutUser.html.twig'%}
{% block title %}{{author.firstName}} {{author.name}}{% endblock title %}
{% block content %}
    <div class="page-header">
        <h1>{{author.firstName}} {{author.name}} <small>{{author.title}}</small></h1>   
    </div>

    <p>{{author.description | purify  }} </p>
    <div id ="social" class="row-fluid">
        {% if author.googleLink is not empty %}
        <div class="span1" ><a title="Google plus" target="_blanck" href="{{author.googleLink}}"><img src="{{asset('bundles/fabfotogallery/image/icon/googleplus.png')}}"/></a></div>
        {% endif %}
        {% if author.facebookLink is not empty %}
        <div class="span1"><a title="Facebook" target="_blanck" href="{{author.facebookLink}}"><img src="{{asset('bundles/fabfotogallery/image/icon/facebook.png')}}"/></a></div>
        {% endif %}
        {% if author.gitHubLink is not empty %}
        <div class="span1" ><a title="Fork me on github" target="_blanck" href="{{author.gitHubLink}}"><img src="{{asset('bundles/fabfotogallery/image/icon/github.png')}}"/></a></div>
        {% endif %}
        {% if author.twitterLink is not empty %}
        <div class="span1" ><a title="Follow me on twitter" target="_blanck" href="{{author.twitterLink}}"><img src="{{asset('bundles/fabfotogallery/image/icon/twitter.png')}}"/></a></div>
        {% endif %}
        {% if author.linkedLink is not empty %}
        <div class="span1" ><a title="Linked" target="_blanck" href="{{author.linkedLink}}"><img src="{{asset('bundles/fabfotogallery/image/icon/linkedin.png')}}"/></a></div>            
        {% endif %}
        {% if author.email is not empty %}
        <div class="span1"><a title="Contact me" href="mailto:{{author.email}}"><img src="{{asset('bundles/fabfotogallery/image/icon/mail.png')}}"/></a></div>                        
        {% endif %}
        <div class="span1"><a title="Get my card on pdf" href="{{path('show_about_pdf_from', {'slug': author.slug })}}"><img alt="get my vcard" src="{{asset('bundles/fabfotogallery/image/icon/pdf.png')}}"/></a></div>                         
        <div class="span1"><a title="Get my Vcard" href="{{path('show_vcard_from' , { 'slug': author.slug })}}">
        <img alt="get my vcard" src="{{asset('bundles/fabfotogallery/image/icon/vcard.png')}}"/></a>
        </div>
        <div class="span1">
            <a class="hidden-phone" id="qrlink" rel="popover" href="{{path('index_mobile')}}" data-content='<img alt="[QR Code]" src="/{{ mopa_barcode_url("qr", author.vcard , true) }}"/>' data-original-title="Scan me">
                <img alt="get my vcard" src="{{asset('bundles/fabfotogallery/image/icon/barcode.png')}}"/>
            </a>

        </div>
    </div>
    	<div class="visible-phone">
	<img alt="get my vcard" src="/{{ mopa_barcode_url("qr", author.vcard , true) }}"/>
	</div>
{% endblock content %}
{% block carroussel %}
{% set backgrounds = author.portrait %}
{% include 'FabfotoGalleryBundle:User:BackgroundVegas.html.twig' %}
{% endblock carroussel %}
