{% import 'FabfotoGalleryBundle:Macro:link.html.twig' as helper %}
    <div class="page-header">
        <h1>{{user.firstName}} {{user.name}} <small>{{user.title}}</small></h1>
    </div>
    <p>{{user.description | purify }} </p>
    <div id ="social" class="row-fluid">
{{ helper.link('Google plus', user.googleLink, asset('bundles/fabfotogallery/image/icon/googleplus.png')) }}
{{ helper.link('Facebook', user.facebookLink, asset('bundles/fabfotogallery/image/icon/facebook.png')) }}
{{ helper.link('link.github', user.gitHubLink, asset('bundles/fabfotogallery/image/icon/github.png')) }}
{{ helper.link('link.twitter', user.twitterLink, asset('bundles/fabfotogallery/image/icon/twitter.png')) }}
{{ helper.link('Linked', user.linkedLink, asset('bundles/fabfotogallery/image/icon/linkedin.png')) }}
{{ helper.link('Viadeo', user.viadeoLink, asset('bundles/fabfotogallery/image/icon/viadeo.png')) }}
{{ helper.link('link.contact', 'mailto:'~user.email, asset('bundles/fabfotogallery/image/icon/mail.png')) }}
{{ helper.link('link.card', path('show_about_pdf_from',{'slug': user.slug }), asset('bundles/fabfotogallery/image/icon/pdf.png')) }}
{{ helper.link('link.vcard', path('show_vcard_from',{'slug': user.slug} ), asset('bundles/fabfotogallery/image/icon/vcard.png')) }}
 <div class="span1">
     <a class="hidden-phone" id="qrlinkUser" rel="popover"  data-content='<img alt="[QR Code]" src="{{ mopa_barcode_url("qr", vcard , true) }}"/>' data-original-title="{% trans %}scan.me{% endtrans %}">
          <img alt="get my vcard" src="{{asset('bundles/fabfotogallery/image/icon/barcode.png') | apply_filter('icon')}}"/>
      </a>
  </div>
</div>
<div class="visible-phone">
     <img alt="get my vcard" src="{{ mopa_barcode_url('qr', vcard , true) }}"/>
 </div>
