<pdf Author="Fabbook" Title="{{user}}">
    <dynamic-page>
        <img src="{{ mopa_barcode_url('qr', vcard , true) }}" />
        <div>
            <h1>{{user.firstName}} {{user.name}}</h1>
            <h2>{{user.title}}</h2>
            <h3>{{user.email}}</h3>
        </div>
    </dynamic-page>
</pdf>
