<pdf>
    <page page-size="126mm:80mm">
        <div float="left" width="49%"><img width="49mm" src="{{ mopa_barcode_url('qr', vcard , true) }}"/></div>
        
        <div float="right" width="39%">
            <h1>{{author.firstName}} Toto {{author.name}}</h1>
            <h2>{{author.title}}</h2>
            <h3>{{author.mail}}</h3>
        </div>    
    </page>
</pdf>