{%block header %}
<!DOCTYPE html> 
<html> 
    <head> 
        <title>{% block titlepage %}Fabbook Admin {% endblock titlepage %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        {% block importcss %}
        {% endblock importcss %}
        <link rel="stylesheet" href="{{ asset('bundles/fabfotogallery/css/styleAdmin.css')}}"/>
        <link rel="stylesheet" href="{{asset('bundles/fabfotogallery/css/smoothness/jquery-ui-1.8.16.custom.css')}}" />

        <script type="text/javascript" src="{{ asset('bundles/fabfotogallery/jquery/jquery-1.7.1.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fabfotogallery/js/jquery-ui-1.8.16.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/fabfotogallery/tiny_mce/jquery.tinymce.js') }}"></script>

        {%block importjs%}
        {%endblock importjs%}
    </head> 

{% endblock header %}
    <body>
        <div data-role="page" {% block optionpage %}{% endblock optionpage %} data-theme="c" > 
            <div data-role="header" >
                <h1>{% block title %}Fabfoto{%endblock title%}</h1>
            </div> 
            <div data-role="content" >
                {% block content %}
                Welcome on Fabfoto Mobile
                {% endblock %}
            </div> 
            <div data-role="footer" >
                <div data-role="navbar" data-position="fixed" data-fullscreen="true">
                    <ul>
                    <li><a href="{{path('adminPicture')}}">Photos</a> </li>
                    <li><a href="{{path('adminAlbums')}}">Album</a> </li>
                    <li><a href="{{path('article')}}">Articles</a></li>
                    <li><a href="{{path('fabfoto_logout')}}">Logout</a> </li>                     </ul>
                </div><!-- /navbar -->
            </div> 
        </div> 
    </body>
</html>
