<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% block metainfo %}{% endblock metainfo %}
        <title> {% block title %}Fabbook{%endblock title%}</title>
        <link rel="stylesheet" media="all" href="{{ asset('bundles/fabfotogallery/css/style.css')}}" />
        {%block importcss %}{%endblock importcss %}
        <link rel="stylesheet" href="{{ asset('bundles/fabfotogallery/vegas/jquery.vegas.css')}}"/>
        <link rel="icon" type="image/png" href="{{ asset('bundles/fabfotogallery/image/icon/iconemain.png')}}">
        <script src="{{ asset('bundles/fabfotogallery/js/jquery.min.js')}}"></script>
        <script src="{{ asset('bundles/fabfotogallery/vegas/jquery.vegas.js')}}"></script>

        {%block importjs %}
        {%endblock importjs%}
    </head>
    <body>
        <div id="nav" class="clearfix">
            <form id="search" method="get" action="{{path('fabfoto_search')}}">
                <input type="text" name="q" value="{% block search_query %}{%endblock search_query%}"/>
                <button type="submit">search</button>
            </form>     
            <ul class="primary">
                <li><a href="{{path('show_articles')}}">News</a></li>
                <li><a href="{{path('index_album')}}">Albums</a></li>
                <li><a href="{{path('index_blog')}}">Blog</a></li>                
                <li><a href="{{path('contact_new')}}">Contact</a></li>
                <li><a href="{{path('index_mobile')}}">Mobile</a></li>
            </ul>


        </div>
        <div id="page">
            {% if app.session.flashes %}
            <div id="flashes">
                {% for type, message in app.session.flashes%}
                <div class="flash {{type}}">
                    <div class="wrap">
                        {{message}}
                    </div>
                </div>
                {% endfor%}
            </div>
            {% endif%}

            {% block content %}lipso lium{%endblock%}     

            <div id="footer">
                <p id="legal">Copyright © Fab photo. All Rights Reserved.</p>
                <a  href="{{path('rss_news')}}"><img id="rss" src="{{ asset('bundles/fabfotogallery/image/icon/rss-icon.png')}}" /></a>
            </div>
        </div>

        {% block carroussel %}
        {% include 'FabfotoGalleryBundle:Default:Background.html.twig' %}
        {% endblock carroussel %}

    </body>
</html>