{%block header %}
<!DOCTYPE html>
<html manifest="{{path('manifest_mobile')}}">
    <head>
        <title>{% block titlepage %}Fabfoto {% endblock titlepage %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{{ asset('bundles/fabfotogallery/jquery.mobile-1.1.1/jquery.mobile.custom.structure.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/fabfotogallery/jquery.mobile-1.1.1/jquery.mobile.custom.theme.min.css')}}" />
            <link rel="stylesheet" href="{{ asset('bundles/fabfotogallery/jquery.mobile-1.1.1/jquery.mobile.custom.min.css')}}" />
            <link href="{{ asset('bundles/fabfotogallery/photoswipe/3.0.5/photoswipe.css')}}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/fabfotogallery/photoswipe/3.0.5/jquery-mobile.css')}}" type="text/css" rel="stylesheet" />

            {% block importcss %}
            {% endblock importcss %}
            {% javascripts
            '@FabfotoGalleryBundle/Resources/public/jquery/jquery-1.7.2.min.js'
            '@FabfotoGalleryBundle/Resources/public/jquery.mobile-1.1.1/jquery.mobile.custom.min.js'

            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {%block importjs %}
            {%endblock importjs%}
        </head>

    {% endblock header %}
        <body>
            <div data-role="page" {% block optionpage %}{% endblock optionpage %} data-theme="c" >
                <div data-role="header" data-position="fixed">
                    <h1>{% block title %}Fabbook Mobile{%endblock title%}</h1>
                </div>
                <div data-role="content">
                    {% block content %}
                    Welcome on Fabfoto Mobile
                    {% endblock %}
                </div>
                <div data-role="footer" data-position="fixed" >
                    <div data-role="navbar">
                    <ul>
                        <li><a data-iconpos="top"  data-icon="home" href="{{path('index_mobile')}}" >Home</a></li>
                        <li><a id="tabB" data-icon="custom" href="{{path('albums_mobile')}}">Albums</a></li>
                        <li><a id="tabC" data-icon="custom" href="{{path('index_blog_mobile')}}">Blog</a></li>
                        <li><a id="tabD" data-icon="custom" href="{{path('show_articles')}}"rel="external" >Classique</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div>
        </div>
    </body>
</html>
