{% extends 'FabfotoGalleryBundle::layoutAdmin.html.twig'%}
{% block content %}
<h1>Picture list</h1>


<a href="{{ path('adminPicture_new') }}" data-role="button">
    Create a new entry
</a>



<ul data-role="listview" data-filter="true">
    {% for picture in pictures %}
    <li>
        <a href="{{ path('adminPicture_show', { 'id': picture.id }) }}">
            <image src="/{{picture.thumbpath}}" class ="image_index_admin"/>
            <h3>{{ picture}}</h3>
            <p>{{ picture.location }}</p>
            <p>{% if picture.createdAt %}{{ picture.createdAt|date('Y-m-d H:i:s') }}{% endif%}</p>
        </a>
    </li>
    {% endfor %}
</ul>


<a href="{{ path('adminPicture_new') }}" data-role="button">
    Create a new entry
</a>

{% endblock content %}

